In [3]:
print("hello")

hello

In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/master/IMDB-Dataset.csv")

In [6]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
data.sample(10)

                                                  review sentiment
9565   This is the best picture about baseball since ...  positive
12367  well, what can i say. WHAT THE F**K? There rea...  negative
30581  Like a few people I know, I came in late on 'S...  positive
24134  I was expecting a lot better from the Battlest...  negative
40806  There was a great film to be made about Steve ...  negative
38256  Alas, it seems that the golden times of stylis...  negative
6535   William Castle is notorious among horror fans ...  positive
5375   Welcome to Our Town, welcome to your town? As ...  negative
17339  Julian Noble (Pierce Brosnan) is a hit-man. Or...  positive
2497   Handsome and dashing British airline pilot Geo...  positive

In [8]:
data["review"]

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [9]:
data["review"]=data["review"].str.lower()

In [10]:
data["review"]

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [11]:
import re

In [12]:
def remove_html_tag(text):
  import re
  pattern=re.compile("<.*?>")
  return pattern.sub(r"",text)

In [13]:
data["review"]=data["review"].apply(remove_html_tag)

In [14]:
from typing import Pattern
def remove_URL(text2):
  Pattern=re.compile(r"https?://\S+|www\.\S+")
  return Pattern.sub(r"",text2)

In [15]:
data["review"]=data["review"].apply(remove_URL)

In [16]:
data["review"]

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [17]:
## We will handle punctuations

In [18]:
import string

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
exclude=string.punctuation

In [22]:
for char in exclude:
    print(char)

!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~

In [23]:
def remove_punct(text):
    for char in exclude:
        text=text.replace(char,"")
    return text

In [24]:
text= "dakjsbjdashb#@@#*#@(kbaskba#(#()))"

In [26]:
remove_punct(text)

'dakjsbjdashbkbaskba'

In [27]:
data

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [30]:
data["review"]=data["review"].apply(remove_punct)

In [31]:
data["review"]

0        one of the other reviewers has mentioned that ...
1        a wonderful little production the filming tech...
2        i thought this was a wonderful way to spend ti...
3        basically theres a family where a little boy j...
4        petter matteis love in the time of money is a ...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    i am a catholic taught in parochial elementary...
49998    im going to have to disagree with the previous...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object